# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
venv/
ENV/
env.bak/
venv.bak/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm / VSCode
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# dotenv
.env
.env.*

# Logs
*.log

# MacOS
.DS_Store

# System
Thumbs.db
Desktop.ini

# Docker
.dockerignore
docker-compose.override.yml

# Git
.git/
*.orig

# Other
*.sqlite3
*.db
*.pid

# Pydantic-generated JSON schemas
schema.json
